body{
    background-size: cover;
}
.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
}
#start,#number_of_objects{
    font-size:10px;
    margin-top:0px;
}
#status{
    margin-top:0px;
}
.copy_right_footer{
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-color: orangered;
    color: peachpuff;
    line-height: 3;
    text-align: center;
}
canvas{
    border: white 2px solid;
    border-radius: 100px;
    margin-top: 130px;
}